*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* h1{
    font-size: 100px;
} */
/* 
p{
    font-weight: 900;
    font-weight: bold;
    font-weight: bolder;
} */
/* 
p{
    font-style: italic;
} */

/* p{
    font-variant: small-caps;
} */


/* p{
    color: aqua;
    color: pink;
    color: rgba(3, 3, 3, 0.2);
} */
/* 
h1{
    text-align: end;
} */


/* h1{
    text-align: center;
    text-decoration: underline double blue;
} */

/* h1{
    text-transform: uppercase;
    text-transform: none;
} */

/* h1{
    text-align: center;
    text-shadow: -5px -5px 3px blue;
} */

/* p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* h1{
    letter-spacing: 20px;
} */

/* h1{
    word-spacing: 50px;
} */
/* 
h1{
    line-height: 1px;
} */

/* p{
    white-space: normal;
} */

/* p{
    text-indent: 200px;
} */

/* p{
    direction: rtl;
} */

/* p{
    writing-mode: horizontal-tb;
} */


/* p{
    direction: rtl;
    unicode-bidi: bidi-override;
} */

